@import '~bootstrap/dist/css/bootstrap-grid.min.css';

.mat-form-field {
  width: 100%
}

.versus {
  display: flex;
  align-items: center;
  height: 64px;
  font-size: 22px;
  color: #999;

  &:before {
    content: '\00d7';
  }
}

.buttons-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.winner-paragraph {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .mat-icon {
    font-size: 128px;
    width: 128px;
    height: 128px;
    color: #FFB81C;
  }

  span {
    display: block;
    max-width: 400px;
    font-size: 24px;
    color: #999;
    text-transform: uppercase;
  }
}

@media (max-width: 767.98px) {
  .mat-stepper-horizontal::ng-deep {
    .mat-horizontal-content-container {
      padding: 0;
    }
  }
}