<div class="container">
  <h1>Torneio</h1>
  <mat-card>
    <mat-horizontal-stepper linear #stepper (selectionChange)="stepperSelectionChange($event)">
      <mat-step label="Torneio" [optional]="false" [editable]="false" [completed]="false">
        <form [formGroup]="tournamentFormGroup" (ngSubmit)="onTournamentFormSubmit($event)">
          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="outline">
                <mat-label>Nome do torneio</mat-label>
                <input matInput type="text" [formControl]="tournamentFormControls.name" required>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field appearance="outline">
                <mat-label>Número de chaves</mat-label>
                <mat-select [formControl]="tournamentFormControls.keys" required>
                  <mat-option [value]="2">2</mat-option>
                  <mat-option [value]="4">4</mat-option>
                  <mat-option [value]="8">8</mat-option>
                  <mat-option [value]="16">16</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12">
              <div class="buttons-wrapper">
                <button mat-flat-button type="submit" color="primary">Avançar</button>
              </div>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step label="Chaves iniciais" [optional]="false" [editable]="false" [completed]="false">
        <form [formGroup]="initialKeysFormGroup" (ngSubmit)="onInitialKeysFormSubmit($event)">
          <div class="row">
            <div class="col-12" *ngFor="let keysFormControl of initialKeysFormControls; index as i">
              <h2>Chave {{ i + 1 }}</h2>
              <div class="row">
                <div class="col-12 col-sm">
                  <mat-form-field appearance="outline">
                    <mat-label>Time</mat-label>
                    <input matInput type="text" [formControl]="keysFormControl.team1" [placeholder]="'Time ' + (i + i + 1)" required>
                  </mat-form-field>
                </div>
                <div class="col-auto d-none d-md-block"><span class="versus"></span></div>
                <div class="col-12 col-sm">
                  <mat-form-field appearance="outline">
                    <mat-label>Time</mat-label>
                    <input matInput type="text" [formControl]="keysFormControl.team2" [placeholder]="'Time ' + (i + i + 2)" required>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="buttons-wrapper">
                <button mat-flat-button type="button" (click)="onInitialKeysBack($event)">Voltar</button>
                <button mat-flat-button type="submit" color="primary">Avançar</button>
              </div>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step label="Eliminações" [optional]="false" [editable]="false" [completed]="false">
        <div class="row">
          <div class="col-12">
            <tournament-manager [tournament]="tournament" (change)="onTournamentManagerChange($event)" *ngIf="tournament"></tournament-manager>
          </div>
          <div class="col-12">
            <div class="buttons-wrapper">
              <button mat-flat-button type="button" (click)="onTournamentReset($event)">Resetar</button>
              <button mat-flat-button type="button" color="primary" (click)="onTournamentFinish($event)" [disabled]="!winner">Finalizar</button>
            </div>
          </div>
        </div>
      </mat-step>
      <mat-step label="Vencedor" [optional]="false" [editable]="false" [completed]="false">
        <div class="row">
          <div class="col-12">
            <p class="winner-paragraph">
              <mat-icon>emoji_events</mat-icon>
              <span><strong>{{winner?.name}}</strong> ganhou o torneio!</span>
            </p>
          </div>
          <div class="col-12">
            <div class="buttons-wrapper">
              <button mat-flat-button type="button" color="primary" (click)="onNewTournament($event)">Novo Torneio</button>
            </div>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>